name: "Automerge PR"

on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  status: {}

jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - uses: jurijzahn8019/action-dependabot-labels@0.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: "pascalgn/automerge-action@0.8.4"
        env:
          GITHUB_TOKEN: "${{ secrets.TOKEN_GITHUB }}"
          MERGE_LABELS: "bulldozer merge,!major"
          MERGE_METHOD: squash
          MERGE_COMMIT_MESSAGE: pull-request-title-and-description
          MERGE_DELETE_BRANCH: true
          UPDATE_LABELS: "bulldozer update"
          UPDATE_METHOD: rebase
